.red {
  color: red;
}

.forum {
  width: 70%;
}

table td
{
  table-layout:fixed;
  width:90px;
  overflow:hidden;
  word-wrap:break-word;
  vertical-align:top;
}

.aaa{
  margin-left: 20px;
}

span{
  margin-left: 20px;
}
