<h1> Forum in Angular2 </h1>
<div class="forum jumbotron center-block">
  <h2>Welcome user {{ userLogName }} {{ userLogID }}</h2>
  <h3>Threads</h3>
  <div *ngIf="threads_error">An error occurred while loading the foods!</div>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" style="align-content: center" (click)="addThread()">Add New Thread</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="getThreads()">Refresh</a></p>


  <table>

    <ul>
      <tr><li *ngFor="let thread of myThreads" >
        <td><h4><span (click)="onSelect(thread.id)"> {{ thread.id }}. <b>{{thread.title }}</b> , last update: {{thread.last_update.valueOf() * 1000 | date: "short" }}  </span></h4></td>
        <td> <button class="delete-button" (click)="deleteThread( thread.id )" >Delete</button> </td>

      </li></tr>
    </ul>
  </table>

  <!--<p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call REST API</a></p>-->
  <p><a class="btn btn-primary btn-lg" role="button" (click)="testovaci()">testovaci</a></p>

  <p class="response">REST API - Json<br> {{response2}}</p>



</div>

