<!--<h1>Model-based Form</h1>-->
<!--https://scotch.io/tutorials/using-angular-2s-template-driven-forms-->
<!--<form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">-->
<!-- we will place our fields here -->

<!--[formGroup]="myForm" autocomplete="off" novalidate-->

<!--name-->

<!--***************************************************************************-->
<h1> Forum in Angular2 </h1>
<div class="forum jumbotron center-block">
  <h2>Welcome user {{ userLogName }} {{ userLogID }}</h2>
  <h3>Threads</h3>
  <div *ngIf="threads_error">An error occurred while loading the foods!</div>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" style="align-content: center" (click)="addThread()">Add New Thread</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="getThreads()">Refresh</a></p>


  <table>

    <!--, thread.title, thread.title, thread.id_author, thread.last_update, thread.text-->
    <ul>
      <tr><li *ngFor="let thread of myThreads" >
        <td><h4><span (click)="onSelect(thread.id)"> {{ thread.id }}. <b>{{thread.title }}</b> , last update: {{thread.last_update.valueOf() * 1000 | date: "short" }}  </span></h4></td>
        <td> <button class="delete-button" (click)="deleteThread( thread.id )" >Delete</button> </td>

      </li></tr>
    </ul>
  </table>

  <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call REST API</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="testovaci()">testovaci</a></p>

  <!--<p>{{response}}</p>-->
  <p class="response">REST API - Json<br> {{response2}}</p>
  <!--<p class="response">Json API <br> {{response3}}</p>-->
  <!--<li *ngFor="#let response3Thread of response3">-->
    <!--<h4>{{response3Thread}} {{response3Thread.id}}</h4>-->
  <!--</li>-->


</div>

<!--<p> <span>  </span> </p>-->
<!--thread.name-->
<!--***************************************************************************-->


    <!--<div class="forum jumbotron center-block">-->
      <!--<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">-->
    <!---->
        <!--<table>-->
          <!--<tr>-->
    <!---->
            <!--<div class="form-group">-->
              <!--<td><label>User:</label></td>-->
              <!--<td><input type="text" formControlName="firstName"></td>-->
            <!--</div>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<div class="form-group">-->
              <!--<td><label>Thread:</label></td>-->
              <!--<td><input type="text" formControlName="thread"></td>-->
            <!--</div>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<div class="form-group">-->
              <!--<td><label>Title:</label></td>-->
              <!--<td><input size="50" type="password" formControlName="title"></td>-->
            <!--</div>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<div class="form-group">-->
              <!--<td><label>Message:</label></td>-->
              <!--<td><textarea formControlName="message" rows="4" cols="80"></textarea></td>-->
            <!--</div>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<div class="form-group">-->
              <!--<td>-->
                <!--<button type="submit" [disabled]="!myForm.valid">Submit</button>-->
              <!--</td>-->
              <!--<td>-->
                <!--<button (click)="reset()">Reset form</button>-->
              <!--</td>-->
            <!--</div>-->
          <!--</tr>-->
        <!--</table>-->
<!--</form>-->
<!--</div>-->
<!--***************************************************************************-->

    <!---->
    <!--<div>-->
    <!--<label>Name</label>-->
    <!--<input formControlName="email" type="email" placeholder="Your email">-->
    <!--</div>-->


    <!--<div>-->
    <!--<label>Title</label>-->
    <!--&lt;!&ndash;bind name to ngModel, it's required with minimum 5 characters&ndash;&gt;-->
    <!--<input type="text"-->
    <!--name="title" [(ngModel)]="user.name"-->
    <!--#name="ngModel" required minlength="5">-->
    <!--&lt;!&ndash;show error only when field is not valid & it's dirty or form submited&ndash;&gt;-->
    <!--<small [hidden]="name.valid || (name.pristine && !f.submitted)">-->
    <!--Name is required (minimum 5 characters).-->
    <!--</small>-->
    <!--</div>-->

    <!--&lt;!&ndash;adrress group&ndash;&gt;-->
    <!--<div ngModelGroup="address">-->
    <!--&lt;!&ndash;street&ndash;&gt;-->
    <!--<div>-->
    <!--<label>Street</label>-->
    <!--<input type="text"-->
    <!--name="street" [(ngModel)]="user.address.street"-->
    <!--#street="ngModel" required>-->
    <!--<small [hidden]="street.valid || (street.pristine && !f.submitted)" class="text-danger">-->
    <!--Street is required.-->
    <!--</small>-->
    <!--</div>-->

    <!--&lt;!&ndash;postcode&ndash;&gt;-->
    <!--<div>-->
    <!--<label>Post code</label>-->
    <!--<input type="text"-->
    <!--name="postcode" [(ngModel)]="user.address.postcode">-->
    <!--</div>-->
    <!--</div>-->

    <!--<button type="submit">Submit</button>-->



